body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid blue;
}

nav h1{
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.onglets{
    margin-top: 3px;
    margin-left: 300px;
}

a{
    text-decoration: none;
    margin: 10px;
    color: orangered;
    border-bottom: 1px solid orangered;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 40px;
    color: #029;
}

header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

header h3{
    margin-top: -10px;
    border-bottom: 1px solid #029;
}

header button{
    padding: 10px 20px;
    background-color: white;
    color: #029;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 40px;
    color: #029;
    margin: 50px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    padding: 40px;
    color: #029;
    margin: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;

}

.section1 h1{
    border-bottom: 1px solid #029;
}

.section2 h1{
    border-bottom: 1px solid #029;
}

.p1{
    background-color: #029;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 50px;
}

@media screen and(max-margin:680){
    .onglets a{
        margin-top: 0px;
        margin-bottom: 4px;
    }
}

img{
    margin: 20px;
    width: 300px;
    height: 200px;
}